[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% setting_descs = { 
   "comment_sort_order"               => "Toon reacties in deze volgorde bij het bekijken van $terms.abug",
   "csv_colsepchar"                   => "Veld-scheidingsteken voor CSV-bestanden",
   "display_quips"                    => "Toon een quip bovenaan iedere $terms.bug lijst",
   "zoom_textareas"                   => "Vergroot tekstvelden bij gebruik (vereist JavaScript)",
   "newest_to_oldest"                 => "Nieuwste naar Oudste",
   "newest_to_oldest_desc_first"      => "Nieuwste naar Oudste, maar houd Omschrijving bovenaan",
   "off"                              => "Uit",
   "oldest_to_newest"                 => "Oudste naar Nieuwste",
   "on"                               => "Aan",
   "post_bug_submit_action"           => "Na het wijzigen van $terms.abug",
   "next_bug"                         => "Toon volgende $terms.bug in mijn lijst",
   "same_bug"                         => "Toon de bijgewerkte $terms.bug",
   "standard"                         => "Klassiek",
   "skin"                             => "$terms.Bugzilla's algemeen uitzicht (skin)",
   "nothing"                          => "Niets Doen",
   "state_addselfcc"                  => "Voeg mij automatisch toe aan de CC-lijst van $terms.bugs die ik wijzig",
   "always"                           => "Altijd",
   "never"                            => "Nooit",
   "cc_unless_role"                   => "Alleen indien ik er geen rol in speel",
   "lang"                             => "Taal gebruikt in e-mail",
   "quote_replies"                    => "Citeer reacties wanneer je op de ermee geassocieerde antwoord-link klikt",
   "quoted_reply"                     => "Citeer volledige reacties",
   "simple_reply"                     => "Refereer alleen naar het reactie-nummer",
   "comment_box_position"             => "Positie van het Additionele Reacties-veld",
   "before_comments"                  => "Voor andere reacties",
   "after_comments"                   => "Na andere reacties",
   "timezone"                         => "Tijdzone gebruikt om datum en tijd weer te geven",
   "local"                            => "Zelfde als de server",
   "quicksearch_fulltext"             => "Doorzoek reacties bij het uitvoeren van snelle zoekopdrachten (trager)",
   "email_format"                     => "Geprefereerd e-mailformaat",
   "html"                             => "HTML",
   "text_only"                        => "Alleen tekst",
   "requestee_cc"                     => "Voeg mij automatisch toe aan de CC-lijst van $terms.bugs waarvan ik gevraagd word ze na te kijken",
   "bugmail_new_prefix"               => "Voeg 'Nieuw:' toe aan de onderwerp-lijn van e-mail verzonden wanneer er een nieuwe $terms.bug is ingediend",
   "possible_duplicates"              => "Toon mogelijke duplicaten bij het rapporteren van een nieuwe $terms.bug", 
                   } 
%]

[% Hook.process('settings') %]
