[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.
  # product: array of strings. The set of products we check for dups.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]

[% IF product.size %]
  [% title = BLOCK %]
    Most Frequently Reported [% terms.Bugs %] for 
    [%+ product.join(', ') FILTER html %]
  [% END %]
[% ELSE %]
  [% title = "Meest Frequent Gerapporteerde $terms.Bugs" %]
[% END%]

[% PROCESS global/header.html.tmpl title = title %]

<p>
  <a href="#explanation">Wat zijn deze data?</a>
  <br>
  <a href="#params">Wijzig parameters</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

[%# *** Parameters *** %]

[% bug_ids_string = bug_ids.join(',') %]

<h3 id="params">Wijzig Parameters</h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse FILTER html %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string FILTER html %]">
  <table>
    <tr>
      <td>Beperk tot producten:</td>
      <td>
        [% INCLUDE "global/product-select.html.tmpl"
          id       => "product"
          name     => "product"
          multiple => 5
          value    => product
        %]
      </td>
    </tr>

    <tr>
      <td>Bij het sorteren of beperken, merk met:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0"
          [% ' checked="checked"' IF NOT sortvisible %]>
        <label for="entirelist">
          volledige lijst
        </label>
        <br>
        <input type="radio" name="sortvisible" id="visiblelist" value="1"
          [% ' checked="checked"' IF sortvisible %]>
        <label for="visiblelist">
          momenteel zichtbare lijst
        </label>
      </td>
     </tr>

    <tr>
      <td><label for="maxrows">Max. rijen:</label></td>
      <td>
        <input size="4" name="maxrows" id="maxrows" 
               value="[% maxrows FILTER html %]">
      </td>
    </tr>

    <tr>
      <td>
        <label for="changedsince">Wijzigingenkolom bevat wijzigingen van de laatste:</label>
      </td>
      <td>
        <input size="4" name="changedsince" id="changedsince"
               value="[% changedsince FILTER html %]"> dagen
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          Open alleen [% terms.bugs %]:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1"
          [% ' checked="checked"' IF openonly %]>
      </td>
    </tr>

  </table>

  <input type="submit" id="change" value="Change">
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string FILTER html %]">
  Of geef me dit gewoon als een <input type="submit" id="list" 
                                      value="[% terms.bug %]-lijst">.
  (Merk op: de volgorde kan verschillen.)
</form>

<hr>

<h3 id="explanation">
  Wat zijn de "Meest Frequent Gerapporteerde [% terms.Bugs %]"?
</h3>

<p>
  De Meest Frequent Gerapporteerde [% terms.Bugs %]-pagina lijst de gekende open 
  [%+ terms.bugs %] op die het meest frequent gerapporteerd zijn,
  en telt het aantal directe en indirecte duplicaten van de [% terms.bugs %].
  Deze informatie wordt aangeboden als hulp bij het minimaliseren van
  het aantal duplicate [% terms.bugs %] die worden ingegeven in [% terms.Bugzilla %],
  wat tijd bespaart voor de Kwaliteitsgarantie-ingenieurs die de [% terms.bugs %]
  moeten nakijken.
</p>

<b>Hoe gebruik ik deze lijst?</b>

<ul>
  <li>Kijk de meeste frequente [% terms.bugs %]-lijst na.</li>
  <li>Indien uw probleem opgelijst is:</li>

  <ul>
    <li>Klik op het [% terms.bug %]-getal om te bevestigen dat je de zelfde
      [% terms.bug %] gevonden hebt, en voeg een reactie toe indien je bijkomende informatie hebt
      of ga door met het testen van het product.
    </li>
  </ul>

  <li>Indien uw probleem niet opgelijst is:</li>

  <ul>
    <li><a href="query.cgi">Probeer een gelijkaarde [% terms.bug %] te lokaliseren</a>
      die reeds werd ingediend.</li>
    <li>Indien u uw [% terms.bug %] vindt in [% terms.Bugzilla %],
      voel u dan vrij een reactie toe te voegen met nieuwe of bijkomende data waarover u beschikt.</li>
    <li>Indien uw probleem nog niet gedocumenteerd is in 
      [%+ terms.Bugzilla %],
      <a href="enter_bug.cgi">dien dan een nieuwe [% terms.bug %] in</a>.</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
