[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # api_keys: array. Array of api keys this user has.
  # any_revoked: boolean. True is any keys have been revoked.
  #%]

<p>
  API-sleutels worden gebruikt om WebService API calls te authenticeren. U kunt meer dan
  een API-sleutel aanmaken indien nodig. Iedere API-sleutel heeft een optionele omschrijving die u kan helpen
  bij te houden waarvoor iedere sleutel gebruikt wordt. Documentatie over hoe in te loggen is
  <a href="[% docs_urlbase FILTER html %]api/core/v1/general.html#authentication">hier</a> beschikbaar.
</p>

<h3>Bestaande API-sleutels</h3>

<p>U kunt hier de omschrijving bewerken, en bestaande API-sleutels intrekken of vrijgeven.</p>

<table id="email_prefs">
  <tr class="column_header">
    <th>API-sleutel</th>
    <th>Omschrijving (optioneel)</th>
    <th>Laatst gebruikt</th>
    <th>Ingetrokken</th>
  </tr>

  [% FOREACH api_key IN api_keys %]
    <tr[% IF api_key.revoked %] class="apikey_revoked"[% END %]>
      <td>[% api_key.api_key FILTER html %]</td>
      <td>
        <input name="description_[% api_key.id FILTER html %]"
          id="description_[% api_key.id FILTER html %]"
          value="[% api_key.description FILTER html %]">
      </td>
      [% IF api_key.last_used %]
        <td>[% api_key.last_used FILTER time %]</td>
      [% ELSE %]
        <td class="center"><i>nooit gebruikt</i></td>
      [% END %]
      <td class="center">
        <input type="checkbox" value="1"
          name="revoked_[% api_key.id FILTER html %]"
          id="revoked_[% api_key.id FILTER html %]"
          [% IF api_key.revoked %] checked="checked" [% END %]>
      </td>
    </tr>
  [% END %]
  [% UNLESS api_keys.size %]
    <tr><td colspan="4">U heeft geen API-sleutels.</td></tr>
  [% END %]
</table>

[% IF any_revoked %]
  <a id="apikey_revoked_controller" class="bz_default_hidden"
     href="javascript:TUI_toggle_class('apikey_revoked')">Verberg Ingetrokken Sleutels</a>
  [%# Show the link if the browser supports JS %]
  <script type="text/javascript">
    TUI_hide_default('apikey_revoked');
    TUI_alternates['apikey_revoked'] = 'Toon Ingetrokken Sleutels';
    YAHOO.util.Dom.removeClass('apikey_revoked_controller',
                               'bz_default_hidden');
  </script>
[% END %]

<h3>Nieuwe API-sleutel</h3>

<p>U kunt een nieuwe API-sleutel genereren door de checkbox hieronder aan te vinken en optioneel
een omschrijving toe te voegen voor de API-sleutel. De API-sleutel zal willekeurig gegenereerd
worden voor u.</p>

<p>
  <input type="checkbox" name="new_key" id="new_key">
  Genereer een nieuwe API-sleutel met optionele omschrijving
  <input name="new_description" id="new_description">
</p>

