[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # watchedusers: string.
  #               Comma-separated list of email addresses this user watches.
  # watchers:     array.
  #               Array of users watching this user's account.
  # excludeself:  boolean.
  #               True if user is not receiving self-generated mail.
  # <rolename>:   Multiple hashes, one for each rolename (e.g. assignee; see
  #               below), keyed by reasonname (e.g. comments; again, see
  #               below). The value is a boolean - true if the user is
  #               receiving mail for that reason when in that role.
  #%]

[%# If the user's bugmail has been disabled by admins, show a warning. %]
[% IF user.email_disabled %]
  <div class="warningmessages">
    Uw [% terms.bug %]mail is gedesactiveerd door de [% terms.Bugzilla %]
    beheerder.  Gelieve de [% Param('maintainer') %] te contacteren om
    [%+ terms.bug %]mails te activeren.
  </div>
[% END %]

[% IF user.authorizer.can_change_email && Param('allowemailchange') %]
  <p>
    Indien u uw e-mailadres <b>[% user.email FILTER html %]</b> wilt wijzigen
    waarnaar [% terms.Bugzilla %] notificaties verstuurt, 
    klik op de "Account-Informatie"-tab hierboven.
  </p>
[% END %]

<p>
  Indien u niet graag meldingen ontvangt voor "triviale"
  wijzigingen aan [% terms.bugs %] kunt u de instellingen hieronder gebruiken
  om sommige of alle notificaties uit te schakelen.
</p>

<script type="text/javascript">
<!--
function SetCheckboxes(setting) {
  for (var count = 0; count < document.userprefsform.elements.length; count++) {
    var theinput = document.userprefsform.elements[count];
    if (theinput.type == "checkbox"
        && !theinput.disabled
        && !theinput.name.match("remove_ignored_bug"))
    {
      if (theinput.name.match("neg")) {
        theinput.checked = !setting;
      }
      else {
        theinput.checked = setting;
      }
    }
  }
}
// -->
</script>

<input type="button" value="Activeer Alle E-mails" onclick="SetCheckboxes(true); return false;">
<input type="button" value="Desactiveer Alle E-mails" onclick="SetCheckboxes(false); return false;">

<hr>

<h3>Globale opties</h3>

[% prefname = "email-$constants.REL_ANY-$constants.EVT_FLAG_REQUESTED" %]
<input type="checkbox" name="[% prefname %]" id="[% prefname %]" value="1"
       [%+ 'checked="checked"' IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_FLAG_REQUESTED} %]>
<label for="[% prefname %]">E-mail mij wanneer iemand mij vraagt een vlag te plaatsen</label>
<br>
[% prefname = "email-$constants.REL_ANY-$constants.EVT_REQUESTED_FLAG" %]
<input type="checkbox" name="[% prefname %]" id="[% prefname %]" value="1"
       [%+ 'checked="checked"' IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_REQUESTED_FLAG} %]>
<label for="[% prefname %]">E-mail mij wanneer iemand op mijn vraag een vlag plaatst</label>

[% IF user.is_global_watcher %]
  <p>
    U bekijkt alle [% terms.bugs %]. Om deze rol niet meer toegewezen te krijgen, contacteer
    <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>.
  </p>
[% END %]

<hr>

<h3>Veld/ontvanger-specifieke opties</h3>

[% events = [
    { id = constants.EVT_ADDED_REMOVED,
      description = "Ik werd toegevoegd of geschrapt van deze rol" },
    { id = constants.EVT_BUG_CREATED,
      description = "Er is een nieuwe $terms.bug aangemaakt" },
    { id = constants.EVT_OPENED_CLOSED,
      description = "De $terms.bug is afgehandeld of heropend" },
    { id = constants.EVT_COMPONENT,
      description = "Het product of de component verandert" },
    { id = constants.EVT_PROJ_MANAGEMENT,
      description = "De prioriteit, status, ernst, of mijlpaal verandert" },
    { id = constants.EVT_COMMENT,
      description = "Nieuwe reacties toegevoegd" },
    { id = constants.EVT_ATTACHMENT,
      description = "Nieuwe bijlagen toegevoegd" },
    { id = constants.EVT_ATTACHMENT_DATA,
      description = "Bijlage-details gewijzigd" },
    { id = constants.EVT_KEYWORD,
      description = "Het sleutelwoorden-veld verandert" },
    { id = constants.EVT_CC,
      description = "Het CC-veld verandert" },
    { id = constants.EVT_DEPEND_BLOCK,
      description = "De afhankelijkheden-boom verandert" },
    { id = constants.EVT_OTHER,
      description = "Er verandert een veld dat hierboven niet vermeld wordt" },
] %]

[% neg_events = [
    { id = constants.EVT_UNCONFIRMED,
      description = "De $terms.bug bevindt zich in de status ONBEVESTIGD" },
    { id = constants.EVT_CHANGED_BY_ME,
      description = "De wijziging werd door mij gedaan" },
] %]

[% relationships = [
    { id = constants.REL_ASSIGNEE,
      description = "Opvolger" },
    { id = constants.REL_REPORTER,
      description = "Rapporteur" },
    { id = constants.REL_CC,
      description = "CC'd" },
] %]

[% IF Param('useqacontact') %]
  [% relationships.push({ id = constants.REL_QA, 
                          description = "QA-Contact" }) %]
[% END %]


[%# This is up here so that the "relationships" hook can modify it. %]
[% no_added_removed = [constants.REL_REPORTER] %]

[% Hook.process('relationships') %]

[% num_columns = relationships.size %]

<table id="email_prefs">
  <tr class="column_header">
    <th colspan="[% num_columns FILTER html %]">
      Wanneer mijn relatie tot deze [% terms.bug %] is:
    </th>
    <th>Ik wil e-mails ontvangen wanneer:</th>
  </tr>

  <tr>
    [% FOREACH relationship = relationships %]
      <th class="role_header">[% relationship.description FILTER html %]</th>
    [% END %]
  </tr>

  [% FOREACH event = events %]  
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td class="center">
          <input type="checkbox" value="1"
                 name="email-[% relationship.id %]-[% event.id %]"
                 [%# The combinations don't always make sense; disable a couple %]
                 [% IF event.id == constants.EVT_ADDED_REMOVED
                       AND no_added_removed.contains(relationship.id) %]
                   disabled="disabled"
                 [% ELSIF user.mail_settings.${relationship.id}.${event.id} %]
                   checked="checked"
                 [% END %]>
        </td>
      [% END %]
      <td>
        [% event.description FILTER html %]
      </td>
    </tr>
  [% END %]

  <tr class="column_header">
    <th colspan="[% num_columns FILTER html %]">&nbsp;</th>
    <th>maar niet wanneer (overschrijft bovenstaande):</th>
  </tr>

  [% FOREACH event = neg_events %]  
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td class="center">
          <input type="checkbox" value="1"
                 name="neg-email-[% relationship.id %]-[% event.id %]"
                 [%+ 'checked="checked"' IF NOT user.mail_settings.${relationship.id}.${event.id} %]>
        </td>
      [% END %]
      <td>[% event.description FILTER html %]</td>
    </tr>
  [% END %]
</table>

<hr>

<h3>Gebruikers Volgen</h3>

<p>
Wanneer u een gebruiker volgt is het alsof u in hun schoenen staat voor wat betreft 
het ontvangen van e-mails. E-mails worden al dan niet verzonden volgens <em>uw</em>
voorkeuren voor <em>hun</em> relatie tot de [% terms.bug %]
(bv. Opvolger).
</p>

[% IF watchedusers.size %]
  <p>U volgt iedereen in volgende lijst:</p>
  <p>
    <select id="watched_by_you" name="watched_by_you" multiple="multiple" size="5">
        [% FOREACH w = watchedusers %]
           <option value="[% w FILTER html %]">[% w FILTER html %]</option>
        [% END %]
    </select>
    <br>
    <input type="checkbox" id="remove_watched_users" name="remove_watched_users">
    <label for="remove_watched_users">Verwijder geselecteerde gebruikers van mijn volg-lijst</label>
  </p>
[% ELSE %]
  <p>U volgt momenteel geen gebruikers.</p>
[% END %]


<p id="new_watched_by_you">Voeg gebruikers toe aan mijn volg-lijst (komma-gescheiden lijst):
  [% INCLUDE global/userselect.html.tmpl
     id => "new_watchedusers"
     name => "new_watchedusers"
     value => ""
     size => 60
     multiple => 5
  %]
</p>

<p id="watching_you">Gebruikers die u volgen:<br>
  [% IF watchers.size %]
    [% FOREACH watcher = watchers %]
      [% watcher FILTER html %] <br>
    [% END %]
  [% ELSE %]
    <i>Niemand</i>
  [% END %]
</p>

<hr>

<h3>Negeer [% terms.Bugs %]</h3>

<p>
  U kunt een lijst [% terms.bugs %] opstellen waarvan u nooit e-mailnotificaties
  van om het even welke soort wilt ontvangen door hun ID(s) toe te voegen als komma-geschieden
  lijst. Het verwijderen van [% terms.abug %] door het te selecteren in de huidige negeer-lijst 
  zal de e-mailnotificaties voor de [% terms.bug %] heractiveren.
</p>
[% IF user.bugs_ignored.size %]
  <p>
    U negeert momenteel:
    <table>
    [% FOREACH bug = user.bugs_ignored %]
      <tr>
        <td>
          <input type="checkbox" name="remove_ignored_bug_[% bug.id FILTER html %]" value="1">
        </td>
        <td><a href="[% urlbase FILTER html %]show_bug.cgi?id=[% bug.id FILTER uri %]">
          [% bug.id FILTER html %]</a>
        </td>
        <td>[% bug.status FILTER html %]</td>
        <td>
          [% IF user.can_see_bug(bug.id) %]
            - [% bug.summary FILTER html %]
          [% ELSE %]
            (privé)
          [% END %]
        </td>
      </tr>
    [% END %]
    </table>
  </p>
[% END %]

<p>
  Voeg [% terms.bugs %] toe:<br>
  <input type="text" id="add_ignored_bugs" 
         name="add_ignored_bugs" size="60">
</p>
