[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

Vooraleer [% terms.abug %] te melden, gelieve de  
<a href="page.cgi?id=bug-writing.html">
[% terms.bug %] stijlrichtlijnen</a> te lezen, gelieve de lijst 
<a href="duplicates.cgi">meest frequent gerapporteerde [% terms.bugs %]</a> te raadplegen, en gelieve te 
<a href="query.cgi">zoeken</a> naar de [% terms.bug %].
